# Prisma Config
DATABASE_URL="postgresql://postgres:password@localhost:5432/metronic?schema=public"
DIRECT_URL="postgresql://postgres:password@localhost:5432/metronic?schema=public"

# JWT Config
JWT_SECRET=N3G2xT44ovZWp24HUQE54JRJq63ZOhhOHe1uQnsQxs4=
JWT_EXPIRES_IN=24h
JWT_REFRESH_EXPIRES_IN=7d

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

# Storage (S3/DigitalOcean Spaces)
STORAGE_TYPE=digitalocean
STORAGE_ACCESS_KEY_ID=your_access_key_id
STORAGE_SECRET_ACCESS_KEY=your_secret_access_key
STORAGE_REGION=ams3
STORAGE_BUCKET=your_bucket_name
STORAGE_ENDPOINT=your_endpoint
STORAGE_FORCE_PATH_STYLE=true
STORAGE_CDN_URL=your_cdn_url

# SMTP
SMTP_HOST=your_smtp_host
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=no-reply@domain.com
SMTP_PASS=your_smtp_pass
SMTP_SENDER=Metronic
SMTP_FROM=no-reply@domain.com

# reCAPTCHA
RECAPTCHA_SECRET_KEY=your_recaptcha_secret_key

# App
PORT=4000
FRONTEND_URL=http://localhost:3000
